DIP3E_CH03_Art_PowerPoint.zip
DIP3E_CH03_Original_Images.zip
imagens/*
aulas/*
imagens/DIP3E_CH04_Original_Images/DIP3E_Original_Images_CH04
.ipynb_checkpoints/*
projeto/.ipynb_checkpoints/*
projeto/Python/__pycache__/*
projeto/imagens/*